<%= render "shared/header" %>

<div class="top-comment">
  <div class="ribbon13-wrapper">
  <div class="ribbon13">
  <h3>Welcome to Tori Life!</h3>
  </div>
  <p>おすすめ鳥グッズを共有しよう！</p>
</div>

  <div class="box14">
    <p>かわいい鳥グッズ<br>勉強になる鳥の教科書<br>漫画・写真集<br>鳥に関するものならなんでもOK！</p>
  </div>


  <div class="btn-flat-dashed-filled">
    <%= link_to("オススメの鳥グッズを投稿","/items/new") %>
  </div>


  <div class="box26">
  <span class="box-title"><i class="fas fa-crown"></i>いいねランキング</span>
    <p>
    <% @all_ranks.each.with_index(1) do |item, i| %> 
      <p>第<%= i %>位：<%= link_to(item.name,"/items/#{item.id}") %></p>
    <% end %>
    </p>
  </div>


<div class="container">
  <ul class='item-lists'>
    <% @items.each do |item| %>
      <li class='list-groupe'>
          <%= link_to("/items/#{item.id}") do %>
          <div class="main-contents">
            <div class="main-image">
                <img src="http://images-jp.amazon.com/images/P/<%= item[:code] %>.09.LZZZZZZZ">
            </div>
            <div class="content-wrapper">
              <div class="title">
                <p><%= link_to(item.name,"/items/#{item.id}") %></p>
              </div>
              <div class="main-message">
                <span class="box-title">紹介文</span>
                <p><%= item[:description] %></p>
              </div>




              <div class="main-message">
              <span class="box-title">いいね</span>
                <% if user_signed_in? %>
                  <%#idに「like_アイテムのid」として出力することで、create.js.erbやdestroy.js.erbでidを指定したコードを実行することができる。%>
                  <div id="like_<%=item.id%>">
                    <%= render partial: "likes/like", locals: { item: item } %>
                  </div>
                <% end %>
              </div>


              
              
              <div class="right-container"> 
                <span class="box-title">投稿者</span>                
                <p><%= item.user.name %></p>
              </div>
            </div>
          </div>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>




<%= render "shared/footer" %>
