<%= render "shared/header" %>

<div class="top-comment">
  <div class="ribbon13-wrapper">
  <div class="ribbon13">
  <h3>Welcome to Tori Life!</h3>
  </div>
  <p>おすすめ鳥グッズを共有しよう！</p>
</div>

  <div class="box14">
    <p>かわいい鳥グッズ<br>勉強になる鳥の教科書<br>漫画・写真集<br>取りに関するものならなんでもOK！</p>
  </div>

  <div class="btn-flat-dashed-filled">
    <%= link_to("オススメの鳥グッズを投稿","/items/new") %>
  </div>

<div class="show">

  <div class="show-image">
    <img src="http://images-jp.amazon.com/images/P/<%= @item.code %>.09.LZZZZZZZ">
  </div>
  <div class="title-show">
    <p>商品名：<%= @item.name %></p>
  </div>
  <div class="buy">
    <a href="<%= @item.url %>" class="btn-stitch" target=”_blank”>購入ページへ</a>
  </div>
  <div class="post-user-time">
    <p class="bold">投稿者：<%= @item.user.name %></p>
    <p class="post-time">投稿日：<%= @item.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  </div>
  <div class="post-message">
    <p><%= @item.description %></p>
  </div>

            



            

<% if user_signed_in? && current_user.id == @item.user_id %>
  <%= link_to '編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
  <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' %>
<% end %>




  
    <%=link_to 'トップページへもどる', root_path, class:"return-top-show" %>
 


</div>

<%= render "shared/footer" %>