<!DOCTYPE html>
<html>
  <head>
    <title>BirdCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
  </head>

  <body>
    <%= render 'layouts/notifications' %>
    <%= yield %>
  </body>
</html>
